{% extends 'base.html.twig' %}

{% block title %}Create recipe{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_row(form.title) }}

    <h3>Tags</h3>
    <ul class="tags">
        {% for tag in form.instructions %}
            <li>{{ form_row(tag) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}
{% endblock %}
