{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
<h3 class="my-3">Recipes ({{recipes | length}})</h3>
<a class="btn btn-primary" href="recipes/create">Add recipe</a>
<div class="list-group mt-3">
{% for recipe in recipes %}
    <a class="list-group-item list-group-item-action" href="recipes/{{ recipe.id }}">{{ recipe.title }}</a>
{% endfor %}
</div>

{% endblock %}
