{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block stylesheets %}
    <style>
        .card-wrapper {
            width: 100%;
        }
        @media (min-width: 992px) {
            .card-wrapper {
                width: 50%;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="p-2">
        <h3 class="my-3">Recipes ({{recipes | length}})</h3>
        <a class="btn btn-primary" href="recipes/create">Add recipe</a>
    </div>
    <div class="mt-3 d-flex align-content-stretch flex-wrap">
        {% for recipe in recipes %}
        <div class="p-2 card-wrapper">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text"></p>
                    <a class="btn btn-secondary" href="recipes/{{ recipe.id }}">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
